<!-- <p>secretaire-update works!</p> -->
<img src="assets/img/font.jpeg" alt="" style="width: 100%;">
<div class="container">
<div class="row">
    <!-- <div class="card col-md-6 offset-md-3 offset-md-3"> -->
        <div class="row">
            <a href="listSecretaire"  style="width: 20%;text-decoration: none;color: green;"><img src="assets/img/fleche.jpeg" alt="" style="width: 10%;">
                retour</a><br>
            <h3 class="text-center"> Update Secrétaire </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> nom</label>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="secretaire.nom"
                            name="nom">
                    </div>

                    <div class="form-group">
                        <label> prenom</label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="secretaire.prenom"
                            name="prenom">
                    </div>

                    <div class="form-group">
                        <label> Adresse </label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="secretaire.adresse"
                            name="adresse">
                    </div>
                    <div class="form-group">
                        <label> login </label>
                        <input type="text" class="form-control" id="age" [(ngModel)]="secretaire.login"
                            name="login">
                    </div>
                    <div class="form-group">
                        <label> password </label>
                        <input type="password" class="form-control" id="passwd" [(ngModel)]="secretaire.passwd"
                            name="passwd">
                    </div>
                    <div class="form-group">
                        <label> téléphone </label>
                        <input type="text" class="form-control" id="numeroTelephone" [(ngModel)]="secretaire.telephone"
                            name="telephone">
                    </div>
                   
                    <div class="form-group">
                        
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>