
<img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 150%;">

<div class = "container">
    <a href="listeCompteRendu"  style="width: 20%;text-decoration: none;color: green;"><img src="assets/img/fleche.jpeg" alt="" style="width: 10%;">
        retour</a>
<h3 style="text-align: center;"> Comptes Rendus Details</h3>
<div>
    <div>
        <label> <b> Nom: </b></label>  {{compteRendu.nom}}
    </div>
    <div>
        <label> <b> Penom: </b></label> {{compteRendu.prenom}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{compteRendu.age}}
    </div>
    <div>
        <label> <b> Constantes: </b></label> {{compteRendu.constantes}}
    </div>
    <div>
        <label> <b> Marque de stimulateur:  </b></label> {{compteRendu.marquestimulateur}}
    </div>
    <div>
        <label> <b> Mode de stimulateur:  </b></label> {{compteRendu.modedestimulateur}}
    </div>
    <div>
        <label> <b> Tension au borne de la pile:  </b></label> {{compteRendu.tensionbornepile}}
    </div>
<!-- 
    evenement!:string;
    id_patient!:number;
    autres!:string;
    impedancedefilullation!:string;
    duree!:string; -->

    <div>
        <label> <b>Erduree:  </b></label> {{compteRendu.erduree}}
    </div>
    <div>
        <label> <b> Impedance auricullaire:  </b></label> {{compteRendu.impedanceauricullaire}}
    </div>
    <div>
        <label> <b> Sonde SC:  </b></label> {{compteRendu.sondeSC}}
    </div>
    <div>
        <label> <b> SeuilSc:  </b></label> {{compteRendu.seuilSc}}
    </div>
    <div>
        <label> <b> Seuil stimulation ventriculaire:  </b></label> {{compteRendu.seuilstimulationventriculaire}}
    </div>

    <div>
        <label> <b> Seuil detection ventriculaire:  </b></label> {{compteRendu.seuildetectionventriculaire}}
    </div>
    <div>
        <label> <b> Seuil stimulation auricullaire:  </b></label> {{compteRendu.seuilstimulationauricullaire}}
    </div>
    <div>
        <label> <b> Seuil detection auricullaire :  </b></label> {{compteRendu.seuildetectionauricullaire}}
    </div>
    <div>
        <label> <b> Pourcentage stimulation ventriculaire:  </b></label> {{compteRendu.pourcentagestimulationventriculaire}}
    </div>
    <div>
        <label> <b> pourcentage stimulation auriculaire:  </b></label> {{compteRendu.pourcentagestimulationauriculaire}}
    </div>
</div>
</div>