
<img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 150%;">

<div class = "container">
    <a href="listSecretaire"  style="width: 20%;text-decoration: none;color: green;"><img src="assets/img/fleche.jpeg" alt="" style="width: 10%;">
        retour</a>
<h3 style="text-align: center;"> View secretaire Details</h3>
<div>
    <div>
        <label> <b> Nom: </b></label>  {{secretaire.nom}}
    </div>
    <div>
        <label> <b> Penom: </b></label> {{secretaire.prenom}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{secretaire.login}}
    </div>
    <div>
        <label> <b> téléphone:  </b></label> {{secretaire.telephone}}
    </div>
    <div>
        <label> <b> adresse:  </b></label> {{secretaire.adresse}}
    </div>
</div>