<img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 200%;">
<div class="container">

    <div>
        <div class="row">
            <a href="accueilSecretaire" style="width: 20%;height: 10px;text-decoration: none;color: green;"><img
                src="assets/img/fleche.jpeg" alt="" style="width: 10%;">
            retour</a><br>
            <h3 class="text-center"> Type de visite </h3>
            <hr />
            <div class="card-body">
                <!-- <form #Registerform="ngForm" > -->
                    <!-- <button class="btn btn-success" class="valide" type="submit">S'incrire</button> -->
                    <a href="urgence" class="retour"><img src="assets/img/urgence.jpeg" alt="tile3" width="150" height="100" alt="house" />
                        <span>Urgence</span>
                    </a>    
                    <a href="#" class="retoure"><img src="assets/img/consultation.jpeg" alt="tile3" width="150" height="100" alt="house" />
                        <span>consultation</span>
                    </a>
                    <a href="creationSecretaireRV" class="retours"><img src="assets/img/rendezVous.jpeg" alt="tile3" width="150" height="100" alt="house" />
                        <span>Prendre rendez-vous</span>
                    </a>
                    <!-- <button class="btn btn-success" class="valide" type="submit">S'incrire</button> -->
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
