
    <img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 200%;">
    <!-- <img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 200%;">
    <img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 200%;"> -->
    <div class="container">
        <a href="GestionComponent"  style="width: 20%;text-decoration: none;color: green;"><img src="assets/img/fleche.jpeg" alt="" style="width: 10%;">
            accueil</a>
    
        <div>
            <div class="row">
        
                <ejs-schedule #schedule width="100%" height="400px"  #ejCalendar [eventSettings]='{ dataSource: calendarEvents, fields: eventFields }'>
                </ejs-schedule>
                  <form (ngSubmit)="addEvent()" style="margin-bottom: 50px;">
                    <!-- <input type="text" id="subject" name="id_patient" [(ngModel)]="newEvent.id_patient">
                    <input type="text" id="subject" name="id_cardialogue" [(ngModel)]="newEvent.id"> -->
                    
                    <input type="text" id="id_cardiologue" name="id_cardiologue" [(ngModel)]="cardiologueId" >
                    <input type="text" id="id_patient" name="id_patient" [(ngModel)]="employee.id" >
                    <input type="text" id="nom" name="nom" [(ngModel)]="employee.nom">
                    <input type="text" id="prenom" name="prenom" [(ngModel)]="employee.prenom" >
                    <!-- <input type="text" id="id_secretaire" name="id_secretaire" [(ngModel)]="newEvent.id_secretaire" > -->
                    <div>
                      <label for="subject">Subject:</label>
                      <input type="text" id="subject" name="subject" [(ngModel)]="newEvent.subject">
                    </div>
                    <div>
                      <label for="description">Description:</label>
                      <textarea id="description" name="description" [(ngModel)]="newEvent.description"></textarea>
                    </div>
                    <div>
                      <label for="start-time">Start Time:</label>
                      <input type="datetime-local" id="start-time" name="startTime" [(ngModel)]="newEvent.startTime">
                    </div>
                    <div>
                      <label for="end-time">End Time:</label>
                      <input type="datetime-local" id="end-time" name="endTime" [(ngModel)]="newEvent.endTime">
                    </div>
                    <div>
                      <label for="end-time">Heur rendez-vous</label>
                      <input type="time" id="heurRDV" name="heurRDV" [(ngModel)]="newEvent.heurRDV">
                    </div>
                    
                    <button type="submit" class="valide"  style="margin-bottom: 60px;">Ajouter rendez vous</button>
                    <!-- <a href="listeRendezVous" class="retour"  style="margin-bottom: 60px;"></a> -->
                    <button (click)="rendezVouslist(employee.id)" class="retour"  style="margin-bottom: 60px;">Listes rendez-vous</button>
                  </form>
                  
            </div>
        </div>
    </div>
    