<img src="assets/img/adm1.avif.avif" alt="" style="width: 100%;margin: 0px;height: 200%;">
<div class="container">

    <div>
        <div class="row">
            <a href="dashboard" style="width: 20%;height: 10px;text-decoration: none;color: green;"><img
                src="assets/img/fleche.jpeg" alt="" style="width: 10%;">
            retour</a><br>
            <h3 class="text-center"> Page création compte secrétaire </h3>
            <hr />
            <div class="card-body">
                <form #Registerform="ngForm" (ngSubmit)="onSubmit()">
                    <small class="text-danger">{{msg}}</small>
                    <p></p>
                    <!-- <small [class.tetxt.danger]="msg.status==500">{{msg.message}}</small> -->
                    <div class="form-group">
                        <label>Prenom</label>
                        <input type="text" class="form-control" id="prenom" [(ngModel)]="secretaire.prenom"
                            name="prenom" required>
                            <!-- <small class="text-danger">{{message}}</small> -->
                    </div>

                    <div class="form-group">
                        <label> Nom</label>
                        <input type="text" class="form-control" id="nom" [(ngModel)]="secretaire.nom"
                        required name="nom">
                    </div>

                    <div class="form-group">
                        <label> Téléphone </label>
                        <input type="text" class="form-control" id="telephone" [(ngModel)]="secretaire.telephone"
                        required name="email">
                    </div>
                    <div class="form-group">
                        <label> Adresse </label>
                        <input type="text" class="form-control" id="adresse" [(ngModel)]="secretaire.adresse"
                        required  name="adresse">
                    </div>
                    <div class="form-group">
                        <label> Login </label>
                        <input type="text" class="form-control" id="login" [(ngModel)]="secretaire.login"
                        required name="login">
                    </div>
                    <div class="form-group">
                        <label> Mot de passe </label>
                        <input type="password" class="form-control" id="passwd" [(ngModel)]="secretaire.passwd"
                        required name="passwd">
                    </div>
                    <div class="form-group">
                        <label> Confirmé mot de passe </label>
                        <input type="password" class="form-control" id="confirmePasswd" [(ngModel)]="secretaire.confirmePasswd"
                        required  name="confirmePasswd">
                    </div>
                    <div class="form-group">
                        <label> Nom de l'hopital  </label>
                        <input type="text" class="form-control" id="nomhopital" [(ngModel)]="secretaire.nomhopital"
                        required  name="nomhopital">
                    </div>
                    <div class="form-group">
                        <label> Pays  </label>
                        <input type="text" class="form-control" id="pays" [(ngModel)]="secretaire.pays"
                        required  name="pays">
                    </div>
                    <div class="form-group">
                        <label> Email  </label>
                        <input type="text" class="form-control" id="pays" [(ngModel)]="secretaire.email"
                          name="email">
                    </div>
                    <br />
                    <span></span>
                    <button class="btn btn-success" class="valide" type="submit">S'incrire</button>
                    <!-- <a href="listSecretaire" class="retour">listes Secrétaires</a> -->
                    <!-- <a href="Utilisateur" class="valides">retour</a> -->
                </form>


            </div>
        </div>
    </div>
</div>
