<img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 150%;">

<div class="container">
<div class="row">
    <!-- <div class="card col-md-6 offset-md-3 offset-md-3"> -->
        <div class="row">
            <h3 class="text-center"> Update rendez-vous </h3>
            <hr />
            <!-- <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Date rendez-vous</label>
                        <input type="date" class="form-control" id="firstName" [(ngModel)]="rendezVous.dateRV"
                            name="firstName">
                    </div>

                    <div class="form-group">
                        <label> Heur rendez-vous</label>
                        <input type="time" class="form-control" id="lastName" [(ngModel)]="rendezVous.heurRDV"
                            name="lastName">
                    </div>

<div class="form-group">
                        <label> Email Id</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="rendezVous.emailId"
                            name="emailId">
                    </div> -->
                                        <!-- <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div> -->
        </div>
    <!-- </div> -->
</div>
</div>