

<img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 200%;">
<img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 200%;">
    <div class="container">
        
        <div class="etats">
            <a href="creationRV" style="background-color: green;" class="deconnexion" >Retour</a>
            <a class="recettes-mensuelles" href="listeCompteRendu">listes compte rendu</a>
            <a (click)="deconnexion" class="deconnexion" href="">Déconnexion</a>
            
        </div>
        <form (ngSubmit)="onSubmit()">
            <!-- <a href="creationRV"  style="width: 20%;text-decoration: none;color: green;margin-left: 50%;"><img src="assets/img/fleche.jpeg" alt="" style="width: 10%;">
                retour</a><br> -->
            <h1 class="entreprise">COMPTE RENDU DE CONTROLE PACEMAKER</h1>
            <input type="hidden" name="id" id="id" [(ngModel)]="employee.id">
            <div class="nom">
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom" [(ngModel)]="employee.nom" >
            </div>
            <div class="Prenom">
                <label for="prenom">Prénoms</label>
                <input type="text" name="prenom" id="prenom" [(ngModel)]="employee.prenom">
            </div>
            <div class="Age">
                <label for="age">age</label>
                <input type="number" name="age" id="age" [(ngModel)]="employee.age">
            </div>
            <div class="realise">
                <label for="realise">Réalisé le</label>
                <input type="date" name="dateconsultation" id="realise" [(ngModel)]="compteRendu.dateconsultation">
            </div>
           
                <div class="site">
                <label for="site">Constantes:</label>
                <input type="number" name="constantes" id="constantes" [(ngModel)]="compteRendu.constantes">
            </div>
            <div class="marque">
                <label for="superficie" style="width:900px;">Marque du stimulateur</label>
                <input type="text" name="marquestimulateur" id="marque" [(ngModel)]="compteRendu.marquestimulateur">
            </div>
            <div class="mode">
                <label for="mode" style="width:900px;">Mode de stimulation</label>
                <input type="text" name="modedestimulateur" id="mode" [(ngModel)]="compteRendu.modedestimulateur">
            </div>
            <div class="impedancePile">
                <label for="impedancePile" style="width:900px;">Impédance de la pile</label>
                <input type="text" name="impedancepile" id="impedancePile" [(ngModel)]="compteRendu.impedancepile">
            </div>
            <div class="tension">
                <label for="tension" style="width:900px;">tension aux bornes de la pile</label>
                <input type="text" name="tensionbornepile" id="tension" [(ngModel)]="compteRendu.tensionbornepile">
            </div>
            <div class="ERI">
                <label for="ERI" style="width:900px;">ERI(durée de vie)</label>
                <input type="number" name="erduree" id="ERI" [(ngModel)]="compteRendu.erduree">
            </div>


            <div class="nom">
                <p> Impédance des sondes:</p>
            </div>
            <div class="Prenom">
                <p>Seuils de stimulation:</p>
            </div>
        
            <div class="Auriculaires">
                <label for="Auriculaires">.Auriculaires =</label>
                <input type="text" name="Auriculaires" id="Auriculaires" [(ngModel)]="compteRendu.impedanceauricullaire">
            </div>
            <div class="Auriculaires">
                <label for="Auriculaires">.Auriculaires =</label>
                <input type="text" name="Auriculaires" id="Auriculaires" [(ngModel)]="compteRendu.seuilstimulationauricullaire">
            </div>
            
            <div class="Venticulaires">
                <label for="Venticulaires">.Venticulaires =</label>
                <input type="text" name="impedanceventriculaire" id="Venticulaires" [(ngModel)]="compteRendu.impedanceventriculaire">
            </div>
            <div class="Venticulaires">
                <label for="Venticulaires">.Venticulaires =</label>
                <input type="text" name="seuilstimulationventriculaire" id="Venticulaires" [(ngModel)]="compteRendu.seuilstimulationventriculaire">
            </div>
            <div class="Venticulaires">
                <label for="Venticulaires">.Sonde SC =</label>  
                <input type="text" name="sondeSC" id="Venticulaires" [(ngModel)]="compteRendu.sondeSC">
            </div>
            <div class="Venticulaires">
                <label for="Venticulaires">.Seuil SC =</label>  
                <input type="text" name="seuilSc" id="Venticulaires" [(ngModel)]="compteRendu.seuilSc">
            </div>
            <div class="nom">
                <label for="nom">Impédance de defilullation</label>
                <input type="text" name="impédanceDefilullation" id="nom" [(ngModel)]="compteRendu.impedancedefilullation" >
            </div>
            <div class="Prenom">
                <label for="prenom">Durée de ...</label>
                <input type="text" name="duree" id="prenom" [(ngModel)]="compteRendu.duree">
            </div>

            <div class="nom">
                <p> Détection</p>
            </div>
            <div class="Prenom">
                <p>pourcentages de stimulation:</p>
            </div>

            <div class="Auriculaires">
                <label for="Auriculaires">.Auriculaires =</label>
                <input type="text" name="Auriculaires" id="Auriculaires" [(ngModel)]="compteRendu.seuildetectionauricullaire">
            </div>
            <div class="Auriculaires">
                <label for="Auriculaires">.Auriculaires =</label>
                <input type="number" name="Auriculaires" id="Auriculaires" [(ngModel)]="compteRendu.pourcentagestimulationauriculaire">
            </div>
            
            <div class="Venticulaires">
                <label for="Venticulaires">.Venticulaires =</label>
                <input type="number" name="seuildetectionventriculaire" id="Venticulaires" [(ngModel)]="compteRendu.seuildetectionventriculaire ">
            </div>
            <div class="Venticulaires">
                <label for="Venticulaires">.Venticulaires =</label>
                <input type="text" name="pourcentagestimulationventriculaire" id="Venticulaires" [(ngModel)]="compteRendu.pourcentagestimulationventriculaire">
            </div>

                    <div class="impedancePile">
                        <label for="evenement" style="width:900px;"> Alerte(s):</label>
                        <input type="text" name="evenement" id="evenement" [(ngModel)]="compteRendu.evenement">
                    </div>
                    <div class="impedancePile">
                        <label for="evenement" style="width:900px;"> Autres:</label>
                        <input type="text" name="evenement" id="evenement" [(ngModel)]="compteRendu.autres">
                    </div>
              

            <input class="enregistrer" type="submit" value="Enregistrer">
        </form>
     
    </div>
