<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="listRendezVousComponent" routerLinkActive="active" class="nav-link" >List des rendez-vous </a>
      </li>
      <li class = "nav-item">
          <a routerLink="CreateRendezVousComponent" routerLinkActive="active" class="nav-link" >Ajouter rendez-vous</a>
      </li>
  </ul>
</nav> -->
<div > 
<!-- <img src="assets/img/font.jpeg" alt="" style="width: 150%;margin: 0px;height: 150%;"> -->

 <router-outlet></router-outlet>
  </div>
  <footer class = "footer"> 
    <div class = "container1">
        <span>@copyrigth 2023</span>
    </div>
</footer>