
<img src="assets/img/font.jpeg" alt="" style="width: 100%;margin: 0px;height: 150%;">

<div class = "container">
    <a href="patients"  style="width: 20%;text-decoration: none;color: green;"><img src="assets/img/fleche.jpeg" alt="" style="width: 10%;">
        retour</a>
<h3 style="text-align: center;"> View patient Details</h3>
<div>
    <div>
        <label> <b> Nom: </b></label>  {{patient.nom}}
    </div>
    <div>
        <label> <b> Penom: </b></label> {{patient.prenom}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{patient.email}}
    </div>
    <div>
        <label> <b> téléphone:  </b></label> {{patient.numeroTelephone}}
    </div>
    <div>
        <label> <b> adresse:  </b></label> {{patient.adresse}}
    </div>
    <div>
        <label> <b> Age:  </b></label> {{patient.age}}
    </div>
    <div>
        <label> <b> Date d'implantation:  </b></label> {{patient.dateImplantation}}
    </div>
    <div>
        <label> <b> Pays d'implantation:  </b></label> {{patient.paysImplantation}}
    </div>
    <div>
        <label> <b> Nom opération:  </b></label> {{patient.nomOperateur}}
    </div>
    <div>
        <label> <b> Nom équipe:  </b></label> {{patient.nomEquipe}}
    </div>
    <div>
        <label> <b> indication d'implantation:  </b></label> {{patient.indicationImplantation}}
    </div>
    <div>
         <h3 style="text-align: center;">Partie Technique  </h3>
    </div>
    <div>
        <label> <b> préparation du malade:  </b></label> {{patient.preparationMalade}}
    </div>
    <div>
        <label> <b> voir d'abord:  </b></label> {{patient.voirDabord}}
    </div>
    <div>
        <label> <b> mise en place des ondes :  </b></label> {{patient.miseEnPlaceOnde}}
    </div>
    <div>
        <label> <b> mesure paire opératoire:  </b></label> {{patient.mesurePaireOperatoire}}
    </div>
    <div>
        <label> <b> boitier:  </b></label> {{patient.boitier}}
    </div>
</div>
</div>