<img src="assets/img/font.jpeg" alt="" class="mp">
   
    <div class="container">
        <form #loginform="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger">{{msg}}</small>

            <h1>C.H.U.ARTISDE LE DANTEC</h1>
            <img src="assets/img/bk.jpeg" alt="" style="width: 10%;">
       <label for="pass">Login</label>
            <input class="text"  id="username" [(ngModel)]="username"  type="text" name="username"  placeholder="Entrez le login" autofocus>
            <label for="pass">Mot de Passe</label>
            <input class="text"  id="password" [(ngModel)]="password" type="password" name="password" #passwordField  placeholder="Entrez le mot de passe" autofocus>
            <div>
                <label>
                  <input type="radio" name="userType" [(ngModel)]="userType" value="cardiologue">
                  Cardiologue
                </label>
                <label>
                  <input type="radio" name="userType" [(ngModel)]="userType" value="secretaire">
                  Secrétaire
                </label>
              </div>
              <div>
                <input type="checkbox" (click)="passwordField.type = passwordField.type === 'text' ? 'password' : 'text'">
                <label for="showPassword">Afficher/Masquer mot de passe</label>
            </div>
            <button (click)="login()" class="connexion">Se connecter</button>  
            <a href="">Modifier votre mot de passe</a>
        </form>
    
    </div>

<!-- 
    <div class="login-container">
      <h1>Connectez-vous</h1>
      <div *ngIf="error" class="error">{{ error }}</div>
      <div>
        <label>Type d'utilisateur :</label>
        <label>
          <input type="radio" name="userType" [(ngModel)]="userType" value="cardiologue">
          Cardiologue
        </label>
        <label>
          <input type="radio" name="userType" [(ngModel)]="userType" value="secretaire">
          Secrétaire
        </label>
      </div>
      <div>
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" [(ngModel)]="username">
      </div>
      <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" [(ngModel)]="password">
      </div>
      <button (click)="login()">Se connecter</button>
    </div> -->