

<img src="assets/img/font.jpeg" alt="" style="width: 100%;">
<div class="container">
<div class="row">
    <!-- <div class="card col-md-6 offset-md-3 offset-md-3"> -->
        <div class="row">
            <h3 class="text-center"> Create rendez-vous </h3>
            <a href="listRendezVousComponent"  style="width: 20%;text-decoration: none;color: green;margin-left: 10%;"><img src="assets/img/fleche.jpeg" alt="" style="width: 10%;">
                retour</a><br>
            <hr />
            <!-- <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>  id</label>
                        <input type="number" class="form-control" id="firstName" [(ngModel)]="rendezVous.id"
                            name="id">
                    </div>

                    <div class="form-group">
                        <label> Date rendez-vous</label>
                        <input type="date" class="form-control" id="lastName" [(ngModel)]="rendezVous.dateRV"
                            name="dateRV">
                    </div>

                    <div class="form-group">
                        <label> Heur rendez-vous</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="rendezVous.heurRDV"
                            name="heurRDV">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div> -->
        </div>
    <!-- </div> -->
</div>
</div>