

<img src="assets/img/adm1.avif.avif" alt="" style="width: 100%;margin: 0px;height: 150%;">
<aside class="main-sidebar sidebar-primary elevation-4" >
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
        </li>
     <li class="nav-item">
            <a href="pages/calendar.html" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Calendar
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
      <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Pages
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/examples/invoice.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Cardiologues</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/examples/profile.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Secrétaire</p>
                </a>
              </li>
          
            </ul>
          </li>
      </ul>
      </nav>
 
    </div>
    <!-- /.sidebar -->
  </aside>

<div class = "container">
<div class = "row">
    <h1>BIENVENUE PAGE CRÉATION COMPTE </h1>
    <a href="admin"  style="width: 20%;text-decoration: none;color: red;margin-left: 80%;"><img src="assets/img/deconnexion.png" alt="" style="width: 10%;">
        deconnexion</a><br>
    <!-- <a href="CreateRendezVousComponent"  class="btn btn-success" style="width: 20%;margin-left: 70%;">Create rendez-vous</a> -->
</div>


<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Gestion cardiologue </th>
            <th> Gestion Sécretaire </th>
            <!-- <th> Gestion des rendez-vous </th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="cardiologue"  style="color: black;text-decoration: none;">
                <div class="example">
                    <img src="assets/img/cardio.avif" alt="tile3" width="500" height="300" alt="house" />
                       <div class="fadedbox">
                        <div class="title text">  Cardiologue </div>

                           <!-- <a href="patients"  style="color: black;text-decoration: none;"><div class="title text">  Nouvelle implantation </div></a> -->
                       </div>
                </div>
            </a>
            </td>
              
            <td><a href="Secretaire" style="color: black;text-decoration: none;">
                <div class="example">
                    <img src="assets/img/secretaire.jpeg"  alt="tile3" width="400" height="300" alt="house" />
                       <div class="fadedbox">
                        <div class="title text"> Secrétaire</div>

                           <!-- <a href="listRendezVousComponent" style="color: black;text-decoration: none;"><div class="title text">  listes des implantations</div></a> -->
                       </div>
                     </div>
                    </a>
            </td>
            <!-- <td><a href="calendrier"  style="color: black;text-decoration: none;">
                <div class="example">
                    <img src="assets/img/CR.jpeg" alt="tile3" width="400" height="300" alt="house" />
                       <div class="fadedbox">
                           <div class="title text">  Gestion des rendez-vous    </div>
                       </div>
                     </div>
                    </a>
            </td> -->
        </tr>
    </tbody>
</table> 
</div>